<div bb-checkout ng-show="total" id="checkout_page">

  <div ng-if="total.price == '0.0'">
    <div ng-init="bb.total = total; showPage('payment_complete')"></div>
  </div>

<!--   <div bb-payment class="bb-payment" ng-if="total && parseFloat(total.price) > 0.0">
    <div class="bb-head">
      <h1 class="heading">Enter your payment details</h1>
      <h2>{{total.bookings[0].service_name}} {{total.bookings[0].datetime | datetime: "HH:mm dddd Do MMMM YYYY":false}}</h2>
    </div>
    <div id="bb-payment">
      <iframe id="bb-widget" ng-src="{{url}}" width="100%" height="930px" scrolling="no" frameborder="0"></iframe>
    </div>
    <script type="text/javascript">
      $bbug('#bb-widget').iFrameResize({log:false, checkOrigin:false});
      //iFrameResize([{log:false, checkOrigin:false}],['#bb-widget']);
    </script> 
  </div> -->

</div>
