<div bb-events>

  <div class="page-header">
    <h1>Events at {{company.name}}</h1>
  </div>

  <div class="bb-month-picker" bb-month-picker="{months:3}" day-data="item_dates" ng-show="items">

<!--       <div class="bb-month-nav col-xs-1" ng-cloak>
        <span class="glyphicon glyphicon-chevron-left" role="button" ng-click""></span>
      </div> -->

      <!-- TODO Only show in summary mode-->
      <div class="bb-months col-xs-12">

        <div class="row">
        <!-- selected -->
          <div class="bb-month" ng-repeat="month in months" ng-class="{'hidden-xs': !$first}">
            <table >
              <thead>
                <tr>
                  <th colspan="7" class="months">{{month.start_date.format("MMMM")}}</th>
                </tr>
                <tr>
                  <th ng-repeat="day in month.weeks[0].days" class="days">{{day.date | datetime: "ddd":false}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="week in month.weeks">
                  <td ng-repeat="day in week.days" ng-class="{available: day.data && day.data.spaces > 0 &&  month.start_date.isSame(day.date, 'month'), selected: selected_date.isSame(day.date,'day') && month.start_date.isSame(day.date, 'month'), 'today': day.data.today, 'past': day.date.isBefore(moment(), 'day'), 'disabled': !day.date.isSame(month.start_date, 'month')}" ng-click="showDate(day.date)" ng-disabled="day.date.isBefore(moment(), 'day') || !day.date.isSame(month.start_date, 'month')">
                    <div class="circle">{{day.date.date()}}</div>
                  </td>
                </tr>  
              </tbody>
            </table>
          </div>

        </div>

      </div>

<!--       <div class="bb-month-nav col-xs-1" ng-cloak>
        <span class="glyphicon glyphicon-chevron-right" role="button" ng-click""></span>
      </div> -->

    </div>


<!-- -NEW -->

  <!--

  <div class="date-chooser">
    <h2 class="date-chooser-heading">{{bb.current_item.event_group.name}} at {{company.name}}</h2>
    <div class="row">
      <div class="col-sm-8">

        <ul class="date-list">
          <li class="date-list-item" ng-repeat="date in item_dates">
            <button type="button" ng-click="showDate(date)" class="btn btn-secondary" ng-class="{selected: date.idate == selected_date.idate}">
              <span>{{date.date.format("dd Do MMM")}}</span><br/>
              <span><small>{{date.count}} Events</small></span>
            </button>
          </li>
        </ul>

      </div>
      <div class="col-sm-4">
         <div class="input-group date-picker">
            <input type="text" 
              ng-model="pick.date"
              class="form-control"
              bb-datepicker-popup="DD/MM/YYYY"
              datepicker-popup="dd/MM/yyyy"
              is-open="opened"
              datepicker-options="{'starting-day': 1, 'show-button-bar': false}"
              show-weeks="false"
              show-button-bar="false"
              ng-readonly="false" />
            <span class="input-group-btn" ng-click="$event.preventDefault();$event.stopPropagation();opened=true">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-calendar"></span></button>
            </span>
          </div>     
      </div>
      
    </div>
  </div>
  -->

  <h2 class="event-list-heading" ng-show="items" bb-scroll-to="page:changed" bb-always-scroll>
    <span ng-show="selected_date">Showing events for {{selected_date.format('dddd Do MMMM')}}</span>
    <span ng-hide="selected_date">Showing all events</span>
  </h2>

  <div class="bb-filters" ng-show="items">

    <div accordion close-others="true">
      <div accordion-group is-open="is_open" ng-class="{'expanded': is_open, 'selected': is_selected}" class="store-body">

        <div accordion-heading class="filter-header">
          <span>Filter</span>
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        </div>

        <form class="form-inline">

          <div class="form-group">
            <label class="sr-only" for="event_group">Category</label>
            <select class="form-control" name="event_group" id="event_group" ng-model="filters.event_group" ng-options="event_group.name for (id, event_group) in event_groups" ng-change="filterChanged()">
              <option value="">Any Category</option>
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="date">Date</label>
            <div class="input-group date-picker">
              <!-- date format: http://docs.angularjs.org/api/ng.filter:date" -->
              <input type="text" ng-model="filters.date" class="form-control"
                bb-datepicker-popup="DD/MM/YYYY"
                datepicker-popup="dd/MM/yyyy"
                is-open="opened"
                min-date="today"
                on-date-change="filterDateChanged()"
                datepicker-options="{'starting-day': 1, 'show-button-bar': false}"
                show-weeks="false"
                show-button-bar="false"
                ng-readonly="false"
                name="date"
                id="date"
                placeholder="Any Date"/>
              <span class="input-group-btn" ng-click="$event.preventDefault();$event.stopPropagation();opened=true">
                <button class="btn btn-default" type="submit" title="Search"><span class="glyphicon glyphicon-calendar"></span></button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="price">Price</label>
            <select class="form-control" name="price" id="price" ng-model="filters.price" ng-options="price as (price | ipretty_price) for price in price_options" ng-change="filterChanged()">
              <option value="">Any Price</option>
            </select>
          </div>

          <div class="form-group" ng-repeat="select_filter in dynamic_filters.select">
            <label class="sr-only" for="event_group">{{select_filter.name}}</label>
            <select class="form-control" name="select_filter" id="select_filter" ng-model="dynamic_filters.values[select_filter.name]" ng-options="answer.name for answer in select_filter.extra_question_items" ng-change="filterChanged()">
              <option value="">Any {{select_filter.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-link" ng-click="resetFilters()">
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
              Reset
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>


  <div class="bb-events-list">
    <div class="panel panel-default bb-event-card" ng-repeat="item in filtered_items | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size" ng-show="pagination.num_items > 0">
      <div class="panel-body">  
        <div class="row vertical-row-align">
<!--           <div class="col-sm-2 col-xs-3 event-datetime"> ng-style="event_groups[item.service_id].image.background_css"
            <span class="event-date">{{item.date.format('MMM D')}}</span>
            <span class="event-time">{{item.date.format('HH:mm')}}</span>
          </div> -->
          <div class="col-sm-10 col-xs-12 event-details">
            <h3>{{item.description}}</h3>
            <ul class="event-summary-list">
              <li class="date-time">
                <span class="bb-icon icon-calendar"></span>
                <span>{{item.date.format('dddd Do MMMM YYYY')}} at <span class="event-time">{{item.date.format('HH:mm')}}</span></span>
              </li>
              <li class="location" ng-show="item.chain.address">
                <span class="bb-icon icon-location"></span>
                <span>{{item.chain.address | address_single_line}}</span>
              </li>
              <li class="tickets" ng-show="item.tickets && item.getSpacesLeft() > 0">
                <span class="bb-icon icon-ticket"></span>
                <span>{{item.getSpacesLeft()}} tickets remaining</span>
              </li>
              <li class="price" ng-show="item.tickets">
                <span class="glyphicon glyphicon glyphicon-gbp"></span>
                <span ng-show="item.price_range && (item.price_range.from != item.price_range.to)">From {{item.price_range.from | ipretty_price}}</span>
                <span ng-show="item.price_range && (item.price_range.from == item.price_range.to)">{{item.price_range.from | ipretty_price}}</span>
              </li>
            </ul>
          </div>
          <div class="col-sm-2 event-select">
            <button type="button" ng-click="selectItem(item)" class="btn btn-primary btn-block" ng-disabled="item.getSpacesLeft() == 0">
              <span ng-show="item.getSpacesLeft() > 0">Select</span>
              <span ng-show="item.getSpacesLeft() <= 0" class="status-sold-out">Sold out</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default"ng-show="pagination.num_items == 0">
      <div class="panel-body">
        <p>No events found!</p>
      </div>
    </div>
  </div>

  <pagination total-items="pagination.num_items" ng-model="pagination.current_page" items-per-page="pagination.page_size" max-size="pagination.max_size" boundary-links="true" rotate="false" num-pages="pagination.num_pages" ng-show="items" ng-change="pageChanged()"></pagination>

</div>

<div class="row step-navigation">
  <div class="col-sm-offset-8 col-sm-2 col-sm-push-2 forward">
    <!-- <button type="button" class="btn btn-primary" ng-click="validator.validateForm(booking_form) && checkReady() && routeReady()" bb-debounce>Book</button> -->
  </div>
  <div class="col-sm-2 col-sm-pull-10 back">
    <button type="button" class="btn btn-default" bb-debounce ng-click="loadPreviousStep()" ng-show="bb.current_step != 1">Back</button>
  </div>
</div> 


