.bb-list {
  margin-top: 0;
}

.bb-list li {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 0;
  margin: 0;
  &:last-child {
    border: none;
  }
}

.summary-list {
  margin-bottom: 20px;
}

.event-summary-list {
  margin-bottom: 15px;
  li {
    padding-bottom: 5px;
    .bb-icon, .glyphicon {
      color: #666;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.bb-summary-list {
  margin-bottom: 40px;
  text-align: center;
  .bb-summary-label, .bb-summary-value {
    display: inline-block;
  }

  .bb-confirmation-summary-item {
    margin-top: 5px;
  }
}